:root {
      --color-white: #fff;
      --color-dark: #333333;
      --color-grey: #626262;
      --color-grey-1: #b4ad9e;
      --color-white-1: #f0f0f0;

}

.navcenter {
      padding: 6rem 0;

}

.navlist li {
      font-size: 1.4rem;
      color: var(--color-grey);
      text-transform: uppercase;
      margin-left: 2rem;
}

img {
      width: 100%;
}

.navbar {
      margin-bottom: 0;
}

header .navbar-default {
      background-color: transparent;
      border-color: transparent;
}

.pri-heading {
      font-size: 1.4rem;
      color: var(--color-grey-1);
      text-transform: uppercase;
}

.sec-heading {
      font-size: 3rem;
      color: var(--color-grey);
      font-weight: lighter;
      margin-bottom: 3rem;
}

.para {
      font-size: 1.6rem;
      color: var(--color-grey);
      margin-bottom: 5rem;
      line-height: 2.5rem;
}

button {
      border: transparent;
      margin-bottom: 13rem;
      background-color: transparent;
      color: var(--color-grey-1);
}

.images h4 {
      color: #b4ac9e;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
}

.images h2 {
      color: var(--color-grey);
      font-size: 2.9rem;
      font-weight: 400;
      margin-bottom: 3rem;
}

.images p {
      color: var(--color-grey);
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 13rem;
}

.images img {
      margin-bottom: 2rem;
}

.newsletter {
      padding: 70px 0;
      background-color: var(--color-white-1);
}

.newsletter h2 {
      font-size: 3rem;
      color: var(--color-dark);
      margin-bottom: 8rem;
}

.newsletter .form input {
      width: 400px;

      border-right-style: solid;
      border-bottom-color: #000;
      padding: 2rem;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      background: transparent;


}

.form {
      position: relative;
}

.form a i {
      position: absolute;
      top: 2rem;
      margin-left: -20px;
      color: var(--color-dark);

}

.blogs {
      padding: 6rem 0;
}

.button { 
      color: var(--color-grey);
      font-size: 2rem;
      padding: 2rem 4rem;
     margin-bottom: 6rem;
    
     border: 2px solid var(--color-dark);
}
.button:hover { 
     background-color: var(--color-grey);
      color: var(--color-white-1);
}
.footer{
     padding: 4rem 0;
      background-color: var(--color-white-1);
 }
 .footer li a{
      font-size: 2rem;
      color: #000;

 }
 .rightnav a i{
      font-size: 2rem;
      color: var(--color-dark);

 }
 .navbar {
      margin-bottom: 0;
 }
.footer ul{
      display: inline-block;
}

@media all and (max-width:768px) {
      .navcenter {
            padding: 1rem 0;
        }
      .para{
            margin-bottom: 2rem;
            line-height: 1.5rem;
            font-size: 1.4rem;
      }     
      .button{
            margin-bottom: 2rem;
      } 
      .images p{
            margin-bottom: 1rem;
      }
      .newsletter {
            padding: 2rem 0;
      }
      .newsletter h2{
            margin-bottom: 1rem;
      }
      .blogs{
            padding: 1rem 0;
      }
      .footer {
            padding: 1rem 0;
           
        }
        button{
            margin-bottom: 0;
        }

}
 